{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block title %}Create New Account{% endblock %}
{%block body_block %}
{% if register %} 
<div class="alert alert-success">
    Account Created successfully<a href="#">Login Here</a>
</div>
{% else %} 
<h2>Create a new account</h2>
<form method="post">
    {{ form|crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-success btn-sm">Create Account</button>
</form>
<br>
<p>Already have an account?<a href="{% url 'App_Login:signin' %}">Login</a></p> 
{% endif %}
{% endblock %} 